Extract all company detail like name, rating, location, review, age from ambition.com through web scraping

BeautifulSoup represents HTML as a set of Tree like objects with methods used to parse
the HTML.

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

webpage=requests.get('https://www.ambitionbox.com/list-of-companies').text
webpage

soup=BeautifulSoup(webpage,'lxml')

soup

below method not work further because of same class name in"p"

In [33]:
#soup.find_all('h1')[0].text   # [] - to select list item   (use find_all for multiple answer or find for unique single answer)

In [34]:
#len(soup.find_all('h2'))   # to check no of h2 in this (just to check)

In [32]:
#for i in soup.find_all('h2'):
#    print (i.text.strip())      #use strip to remove all special character like space or \n etc.

New Method extract companty div then extract each data from it

company=soup.find_all('div',class_="company-content")
#len(company)   check len in it

name=[]
rating=[]
review=[]
ctype=[]
hq=[]
old=[]
employ=[]
for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('p').text.strip())
    review.append(i.find('a', class_='review-count').text.strip())
    ctype.append(i.find_all('p', class_="infoEntity")[0].text.strip())
    hq.append(i.find_all('p', class_="infoEntity")[1].text.strip())
    old.append(i.find_all('p', class_="infoEntity")[2].text.strip())
    employ.append(i.find_all('p', class_="infoEntity")[3].text.strip())
    
d={'Name':name,'Rating':rating,'Review':review,'C-type':ctype,'HQ':hq,'Old':old,'Employee':employ}
df=pd.DataFrame(d)

For one page completed, now for all 333 pages of ambition box

In [ ]:
# next_sibling attribute

# Complete Code for 333 page below

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

final=pd.DataFrame()

for j in range(1,333):
    url='https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    webpage=requests.get(url).text
    
    soup=BeautifulSoup(webpage,'lxml')
    company=soup.find_all('div',class_="company-content")
    
    name=[]
    rating=[]
    review=[]
    ctype=[]
    hq=[]
    old=[]
    employ=[]
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('p').text.strip())
        review.append(i.find('a', class_='review-count').text.strip())
        try:
            ctype.append(i.find_all('p', class_="infoEntity")[0].text.strip())
        except:
            ctype.append(np.nan)
        try:
            hq.append(i.find_all('p', class_="infoEntity")[1].text.strip())
        except:
            hq.append(np.nan)
        try:
            old.append(i.find_all('p', class_="infoEntity")[2].text.strip())
        except:
            old.append(np.nan)
        try:
            employ.append(i.find_all('p', class_="infoEntity")[3].text.strip())
        except:
            employ.append(np.nan)
    d={'Name':name,'Rating':rating,'Review':review,'C-type':ctype,'HQ':hq,'Old':old,'Employee':employ}
    temp_df=pd.DataFrame(d)
    final=final.append(temp_df,ignore_index=True)

C:\Users\Gaurav Verma\AppData\Local\Temp\ipykernel_9928\4263518748.py:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(temp_df,ignore_index=True)

In [6]:
final

,Name,Rating,Review,C-type,HQ,Old,Employee
0,TCS,3.9,(45.4k Reviews),Public,"Mumbai,Maharashtra + 255 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.2,(29.8k Reviews),Public,Dublin + 137 more,33 years old,1 Lakh+ Employees (India)
2,Cognizant,4.0,(27k Reviews),Private,Teaneck. New Jersey. + 89 more,28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(34k Reviews),Public,"Mumbai,Maharashtra + 1022 more",28 years old,50k-1 Lakh Employees (India)
4,Wipro,3.9,(25.4k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 261 more",77 years old,1 Lakh+ Employees (India)
...,...,...,...,...,...,...,...
9953,CONFIANCE BIZSOL,3.8,(49 Reviews),"Ahmedabad,Gujarat",5 years old,51-200 Employees (India),NaN
9954,Al Faraa Infra P...,3.6,(49 Reviews),Abu Dhabi + 3 more,42 years old,51-200 Employees (India),NaN
9955,PRS Permacel,4.0,(49 Reviews),Mumbai + 5 more,95 years old,51-200 Employees (India),NaN
9956,Sephora,3.7,(49 Reviews),Paris + 12 more,52 years old,51-200 Employees (India),NaN
9957,Vserv Business S...,3.8,(49 Reviews),Private,"Gurgaon/Gurugram,Haryana + 2 more",12 years old,201-500 Employees (India)